/* seteo de estilos */
* { 
box-sizing: border-box;

margin: unset;
padding: unset;
border: unset;
outline: unset;

list-style: none;
text-decoration: none;
font-size: 1rem;
font-family: sans-serif;
font-weight: 400;
}

/*---------heading background-----------*/
.background {
    padding: 25px 80px;
    background-image:url(/assets/div\ \(2\).jpg);
    background-size: cover;
    background-position: center;
}

/*-------------navbar-------------*/

.header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 .header nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 75px;
 }

 .navbar__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .navbar__nav__list{
    display: flex;
    gap: 32px;
 }

.navbar__nav__button{
   display: flex;
   justify-content: space-between;
   gap: 32px;
   border-radius: 50px;
   color:white;
   text-align: center;
   padding: 7px 66px;
   background-color: red;
}

.jumbotron{ 
   font-size: 1.5rem;
   font-weight: bold;
   display: flex;
   justify-content: space-between;
   text-align: center;
   padding: 80px 80px;
   margin-bottom: 50px;
}